.navbar {
    background-color: blueviolet !important;
}

.navbar-brand {
    color: white !important;
}

.navbar .nav-link {
    color: white !important;
}

i {
    font-size: 2em;
}

table {
    font-size: 0.8em;
}

tr {
    line-height: 0.1em;
}

th{
    width: 5%;
}

td {
    border: 1px solid lightgray;
    width: 10%;
    padding: 0 !important;
}

.form-input {
    margin: 0;
    width: 95%;
}

.form-verklaring {
    width: 30%;
}

footer {
    background-color: black;
    color: white;
    min-height: 200px;
    padding: 175px 0px 25px 10px;
}

footer .container {
    border-top: solid 1px white;
}

span {
    padding-top: 50px;
}