.navbar {
    background-color: blueviolet !important;
}

.navbar-brand {
    color: white !important;
}

.navbar .nav-link {
    color: white !important;
}

i {
    font-size: 2em;
}

table {
    font-size: 0.8em;
}